#main-banner{
  width: 100%;
  min-height: 100vh;
  position: relative;
  left: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.toolbar-fixed.toolbar-tray-open{
  #main-banner{
    height: calc(100vh - 80px);
    min-height: calc(100vh - 80px);
  }
}
#main-banner--inner{

}
.paragraph--type--banner{
  position: relative;
}
#inner-banner{
  padding-top: 70px;
}
#banner-inner--content{
  min-height: 300px;
  padding: 40px;
  display: flex;
  align-items: center;
  align-content: center;
  background-size: cover;
  .category-btn{
    a{
      text-decoration: none;
      display: inline-block;
      padding: 10px 20px;
      margin-bottom: 20px;
      background-color: $light3;
      width: auto;
      border-radius: 3px;
      color: $dark;
      position: relative;
      @include transition(300ms);
      &:hover{
        background-color: $light2;
      }
    }

  }
  .created{
    padding-left: 15px;
  }
}