/*
** COLORS
*/
$white: #fff;
$blue: #2898ce;
$light_blue: #15bfaf;
$lighter_blue: #3853ad;
$lightest_blue: #466ccc;
$light_light_blue: #aebfe9;
$gray: #383838;
$black:#000;
$dark:rgba(32,32,32,1);
$light:#878484;
$light1: #a0a0a0;
$light2: #e1e1e1;
$light3:#eee; 
$light4:#f7f7f7; 
$light5:#f4f4f4; 
$light6: #f9f9f9;

$green: #188600;
$green2: #edfad2;
$yellow: #dbe989;
$brown: rgb(132, 88, 4);
$red: #e10a0a;
$red_border: #e68080;
$light_red: #efcbc3;